<div class="column is-4 is-offset-4">
  <div class="card has-background-grey-lighter">
    <div class="card-header">
      <p class="card-header-title is-size-4">
        Cadastro
      <p>
    </div>
    <div class="card-content has-text-white">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <!--Nome-->
        <div class="field">
          <%= f.label :name, class: "label" %>
          <div class="control">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"input", placeholder: "Nome completo" %>
          </div>
        </div>
        <!--Document-->
        <div class="field">
          <%= f.label :document, class: "label" %>
          <div class="control">
            <%= f.text_field :document, autocomplete: "document", class:"input", placeholder: "CPF/CNPJ" %>
          </div>
        </div>
        <!--Email-->
        <div class="field">
          <%= f.label :email, class: "label" %>
          <div class="control">
            <%= f.email_field :email, autocomplete: "email", class:"input", placeholder: "exemplo@email.com" %>
          </div>
        </div>
        <!--Selecionar Perfil-->
        <div class="control">
        <label class="label">Perfil</label>
          <div class="select">
            <%= f.select :profile, User.profile.options, placeholder: "Perfil", class: "select" %>
          </div>
        </div>
        <!--Senha-->
        <div class="field">
          <%= f.label :password, class: "label" %>
          <% if @minimum_password_length %>
            <em class="subtitle is-size-7">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <div class="control">
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Senha", class: "input" %>
          </div>
        </div>
        <!--Confirmar Senha-->
        <div class="field">
          <%= f.label :password_confirmation, class: "label" %>
          <div class="control">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirmar senha", class: "input"%>
          </div>
        </div>
        <div class="field">
          <%= f.label :current_password, class: "label" %><i class="subtitle is-size-6">(we need your current password to confirm your changes)</i>
          <div class="control">
            <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Senha atual", class: "input" %>
          </div>
        </div>
        <!--Botão Submit-->
        <div class="field is-grouped is-right">
          <div class="control">
            <button class="button is-dark">Submit</button>
          </div>
          <div class="control">   
            <button class="button is-warning">Login</button>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
