<div class="column is-4 is-offset-4">
  <div class="card has-background-grey-lighter">
    <div class="card-header">
    <p class="card-header-title is-size-4">
      Esqueceu a senha?
    <p>
    </div>
    <div class="card-content has-text-white">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :email, class: "label" %>
          <div class="control">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input", placeholder: "Email" %>
          </div>
        </div>
        <div class="field is-grouped is-right">
          <div class="control">
            <%= f.submit "Enviar email para mudança de senha", class: "button is-black" %>
          </div>
          <div class="control">   
            <%= link_to "Log in", new_user_session_path, class: "button is-dark" %>
          </div>
          <div class="control">
            <%= link_to "Cadastre-se", new_user_registration_path, class: "button is-warning" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>