<%= content_for :title do %>
  Contacts
<% end %>

<div class="columns is-multiline is-paddingless">
  <% @contacts.each do |contact| %>
    <div class="column is-12">
      <div class="columns is-mobile is-vcentered item-list">
        <div class="column is-marginless is-one-fifth has-text-centered">
          <% if contact.professional.professional_profile.logo.present? %>
            <figure class="image"><%= image_tag contact.professional.professional_profile.logo, class: "is-rounded"%></figure>
          <% else %>
            <%= icon("fas", "user", class: "has-text-white-ter") %>
          <% end %>
        </div>
        <div class="column is-three-fifths">
          <%= link_to contact.professional.name, chat_path(contact.professional) %>
        </div>
        <div class="column is-one-fifth has-text-centered">
          <%= link_to contact, method: :delete do %>
            <%= icon("fas", "trash-alt", class: "has-text-white-ter") %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to new_contact_path, class: "button is-success fab-button" do %>
  <%= icon("fas", "plus", class: "has-text-white-text") %>
<% end %>
