<p id="notice"><%= notice %></p>

<div class="column is-8 is-offset-2">
  <p id="notice"><%= notice %></p>
  <h1 class="title is-4">Endereços</h1>
  <hr>

  <div class="table-container">
    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th class="has-text-centered">Usuário</th>
          <th class="has-text-centered">CEP</th>
          <th class="has-text-centered">Estado</th>
          <th class="has-text-centered">Cidade</th>
          <th class="has-text-centered">Bairro</th>
          <th class="has-text-centered">Rua</th>
          <th class="has-text-centered">Número</th>
          <th class="has-text-centered">Complemento</th>
          <th class="has-text-centered">Referência</th>
          <th class="has-text-centered" colspan="2">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @addresses.each do |address| %>
          <tr>
            <th class="has-text-centered"><%= address.user.name %></th>
            <th class="has-text-centered"><%= address.cep %></th>
            <th class="has-text-centered"><%= address.state %></th>
            <th class="has-text-centered"><%= address.city %></th>
            <th class="has-text-centered"><%= address.neighborhood %></th>
            <th class="has-text-centered"><%= address.street %></th>
            <th class="has-text-centered"><%= address.number %></th>
            <th class="has-text-centered"><%= address.complement %></th>
            <th class="has-text-centered"><%= address.reference %></th>
            <td><%= link_to 'Show', user_address_path(address.user, address) %></td>
            <td><%= link_to 'Edit', edit_user_address_path(address.user, address) %></td>
            <td><%= link_to 'Destroy', user_address_path(address.user, address), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="control">
    <%= link_to 'Novo Endereço', new_user_address_path, class: "button is-dark"%>
  </div>
  <br>
  <div class="control">
    <%= link_to "Início", root_path, class: "button is-warning" %>
  </div>
</div>
