<nav class="navbar has-shadow navbar-height">
  <div class="navbar-brand">
    <a class="navbar-item pl-5" href="/">
      <p class="title is-size-4-mobile has-text-weight-semibold is-family-code" id="admin-title">APPCUT</p>
    </a>
    <div class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </div>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <div class="navbar-item">
      </div>
    </div>
    <div class="navbar-end">
      <% if current_user && current_user.barber_shop? %>
        <div class="navbar-item">
          <%= link_to "Perfil Profissional", user_professional_profile_path(current_user, current_user.professional_profile), class: "button is-link is-outlined" %>
        </div>
      <% end %>
      <div class="navbar-item dropdown is-right" id="dropdown-menu2">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
            <span><%= icon("fas", "bell") %></span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu2" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
            </div>
            <hr class="dropdown-divider">
            <div class="dropdown-item">
              <p>You simply need to use a <code>&lt;div&gt;</code> instead.</p>
            </div>
            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item">
              This is a link
            </a>
          </div>
        </div>
      </div>
      <% if current_user %>
        <div class="navbar-item has-dropdown pl-6">
          <div class="navbar-link">
            <%= current_user.name %>
          </div>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="<%= edit_user_registration_path(current_user) %>">
              <div>
                <span class="icon is-small">
                  <%= icon("fas", "user-circle") %>
                </span>
                Meu Cadastro
              </div>
            </a>
            <a class="navbar-item" href="/users/<%= current_user.id %>/addresses">
              <div>
                <span class="icon is-small">
                  <%= icon("fas", "bug") %>
                </span>
                Meus endereços
              </div>
            </a>
            <div class="navbar-item">
              <div>
                <%= link_to icon("fas", "sign-out-alt", "Sair"), destroy_user_session_path, method: :delete %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="navbar-item">
          <div class="button-group">
          <%= link_to "Cadastre-se", new_user_registration_path, class: "button is-warning" %>
          <%= link_to "Entrar", new_user_session_path, class: "button is-dark" %>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>