<!DOCTYPE html>
<html>
  <head>
    <title>AppCut</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <section class="section px-0 py-0">
      <div class="columns is-variable" id="columns-body">
        <div class="column" id="column-body">
          <section class="section py-5">
            <div class="columns">
              <%= yield %>
            </div>
          </section>
        </div>
      </div>
    </section>
  </body>
</html>
